@import '@/styles/_variables';

.content {
  padding: spacing('lg');
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: spacing('lg');
  color: color('text-dark');
}

.details {
  h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: spacing('md');
    color: color('text-dark');
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: spacing('sm');
}

.field {

  .label {
    font-weight: 600;
    color: color('text-dark');
    margin-right: 5px;
}

  a {
    color: color('primary');
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.actions {
  display: flex;
  gap: spacing('md');
  margin-top: spacing('lg');

  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }
} 