@import '@/styles/_variables';

.content {
  padding: spacing('lg');
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: color('text-dark');
}

.transactionList {
  display: flex;
  flex-direction: column;
  gap: spacing('md');
  margin-bottom: spacing('lg');
}

.transaction {
  border: 1px solid color('border');
}

.transactionContent {
  padding: spacing('md');
  display: grid;
  gap: spacing('xs');
}

.field {
  display: flex;
  gap: spacing('sm');
  align-items: center;

  .label {
    font-weight: 600;
    color: color('text-dark');
  }
}

.viewAllButton {
  width: fit-content;
} 