.balanceList {
    
  .balanceItem {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e9ecef;
    
    &:last-child {
      border-bottom: none;
    }
  }
}

.balanceSection{
    margin-top: 1rem;
}

.exportButton {
  width: fit-content;
  margin-top: 1rem;
} 