@import '@/styles/_variables';

.pageTitle {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: spacing('lg');
  color: color('text-dark');
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: spacing('lg');
  margin-bottom: spacing('lg');

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.bottomSection {
  display: flex;
  flex-direction: column;
  gap: spacing('lg');
} 